*{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.a{
    display: inline;
    /* font-weight:900; */
   font-size:1.8cm;  
   color: rgb(48, 47, 47)
   ;
}
body{
    margin:-10%;
    margin-top: 10%;
}
.b{
    font-weight:10;
    color: rgb(136, 133, 133);
     
}
.l{
    font-weight:10;
    color: rgb(136, 133, 133);
     position: relative;
     top: -10px;
}
.main{

display: flex;
justify-content: center;
margin-left: -60px;
margin-top: 140px;

}

.c{
    display: inline;
    margin-left: 300px;
    color: rgb(247, 65, 33);
    margin-top: 40px;
}
.t{
    height: 300px;
    width: 180px;
    border-style:solid;
    border:solid;
    border-width: 2px;
    border-color: rgb(247, 65, 33);
    border-radius: 10px;
display: inline-block;
padding: 20px;
box-shadow: 8px 8px 8px rgb(202, 196, 196);
font-size: 30px;
color:rgb(255, 103, 77); ;
}
.s{
    padding: 0 330px;
    display:flex;
    margin-top: 50px;
justify-content: center;
justify-content: space-around;

}
hr{
    position: relative;
    left:21px;
}
.d{
    font-size: 25px;
    color: red;
    position: relative;
    left:21px;
    text-decoration:line-through;
}
.j{
    color: black;
    font-size: 25px;
   position: relative;
   top:10px;
   right: 10px;
   font-weight: 450;
}
.i{
    height: 20px;
width: 20px;
}
.parent{
    filter: blur(13px);
    z-index: -8;
}
.child{
    z-index: 5;
    margin: auto  auto;
    background-color: black;
    height: 100px;
    width: 100px;
position: relative;
bottom: 250px;

}

.v{
    height: 25px;
    width: -20px;
    border-style:solid;
    border:solid;
    border-width: 2px;
    border-color: rgb(247, 65, 33);
    border-radius: 6px;
display: inline-block;
padding: 20px;
box-shadow: 8px 8px 8px rgb(202, 196, 196);
font-size: 10px;
height: 3px;
width: 280px;
position: relative;
left: 30px;
bottom: 10px;
}
.ad{
    z-index: 3;
    height: 180px;
    width: 400px;
    border-style:solid;
    border:solid;
    border-width: 2px;
    border-color: rgb(247, 65, 33);
    border-radius: 5px;
display: inline-block;
padding: 20px;
box-shadow: 8px 8px 8px rgb(202, 196, 196);
font-size: 30px;
position: relative;
bottom:9.7cm;
left: 15cm;
background-color:white;
}
.ae{
    color:  rgb(247, 65, 33);
    font-size: 25px;
    font-weight: 450;
position: relative;
bottom: 40px;
left: 125px;

}
.ot{
height: 40px;
width: 100px;
color: white;
background-color: rgb(247, 65, 33);
text-decoration: white;
border-style: solid rgb(247, 65, 33);
border-radius: 30px;
position: relative;
left: 150px;
font-size: 0.7cm;

}
.qw{
    position: relative;
    left: 20px;
}
a{
    text-decoration: none;  
    color:  rgb(247, 65, 33);; 
    }